.item {
    font-size: 1.2rem; 
    border-radius: 0.3rem;
    position: relative;
    margin-bottom: 0.1rem;
}

.child {
  position: relative;
  z-index: 1;
}

.color {
    background-color: rgba(0, 0, 78, 0.3);
}

.button {
    width: 2rem;
    height: 2rem;
    border: none;
    background-color: rgba(0, 0, 78, 0.3);
    border-radius: 0.4rem;
}

.flex {
    word-wrap: break-word;
    word-break: break-all;
  }